<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="gmaps_tutorial.gmaps_tutorial" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22"/>
	<application android:label="gmaps_tutorial" android:icon="@drawable/Icon">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_key" />
	</application>
  
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
  <uses-permission android:name="gmaps_tutorial.gmaps_tutorial.permission.MAPS_RECEIVE" />
    <permission android:name="gmaps_tutorial.gmaps_tutorial.permission.MAPS_RECEIVE" android:protectionLevel="signature" />

</manifest>