<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="serveur_connection.serveur_connection" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="serveur_connection" android:icon="@drawable/Icon"></application>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>